@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.title {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Indie Flower";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); /* Horizontal, Vertical, Blur, Color */
}
